name: Continuous Deployment of Generated Files
on:
  push:
    branches:
      - main
      - wip
jobs:
  cd:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: sudo apt-get install sbcl
      - run: make ghpg
